*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

body,
header,
main,
footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

header {
    margin: 1rem 1rem 0;
}

main {
    margin: 0 1rem 1rem;
}

footer {
    border-top: 1px solid black;
    align-items: center;
}